{% extends 'transcriber/base.html' %}

{% block content %}
<article>
    <section>
        <title>This is the upload</title>
        <form action="{% url 'index' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{session}}
            <fieldset class="form-group">
                <legend>Some file </legend>
                {{form}}
            <fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Upload</button>
            </div>
        </form>
    </section>
</article>
{% endblock content %}