<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1, initial-scale=1.0">
    <title>Transcriber</title>
</head>
<body>
    <header>
        <h4>Transcriber</h4>
    </header>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="dafile">File</label>
        <input type="file" name="dafile">
        <button type="submit">Submit</button>
    </form>
</body>
</html>