<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Transcriber</title>
</head>
<body>
    <header>
        <h3>Transcriber</h3>
    </header>
    <nav>Navigation</nav>
    <section>
        <article>
            <form action="/upload" method="post" enctype="multipart/form-data">
                <label for="dafile">File</label>
                <input type="file" name="dafile">
                <button type="submit">Submit</button>
            </form>        
        </article>
    </section>
    
</body>
</html>